/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter-Variable", Arial, Helvetica, sans-serif;
  --accent-font-family: "PressStart2P-Regular", "Courier New", Consolas,
    monospace;
  --font-weight-card-text: 400;
  --font-weight-card-title: 700;
  --background-color: white;
  --color: black;
  --border-card: solid 2px black;
  --border-label: white;
  --button-color: white;
  --overlay-color: black;
  --icon-contour: black;
  --icon-active-color: red;
  --icon-filling: red;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
